/* app css stylesheet */
.scroll-vertical {
  height: 300px;
  overflow-y: scroll;
}

.graph {
  min-width: 100%;
  max-width: 100%;
}

.select {
  /*background: red;*/
}

.form-inline {
  padding-top: 16px;
}

.card {
  border: 1px solid gray;
  padding-top: 6px;
  padding-bottom: 6px;
}
