<div>
<svg viewBox="0 0 100 40" xmlns="http://www.w3.org/2000/svg" class="graph">
	<linearGradient x1="0%" x2="0%" y1="10%" y2="100%" id="gradient">
		<stop style="stop-color:#dddddd" offset="0"></stop>
		<stop style="stop-color:#dddddd" offset="1"></stop>
	</linearGradient>
	<g transform="translate(0, 40) scale(1, -1)">
		<line ng-repeat="line in graph.lines"
			ng-attr-x1="{{graph.dims.padding}}%"
			ng-attr-y1="{{line.y}}%"
			ng-attr-x2="{{100 - graph.dims.padding}}%"
			ng-attr-y2="{{line.y}}%"
			stroke-width=".1"
			stroke="gray">
		</line>
		<rect ng-repeat="bar in graph.bars" 
			ng-attr-width="{{graph.barsWidth}}%"
			ng-attr-height="{{bar.height}}%"
			ng-attr-x="{{bar.x}}%"
			ng-attr-y="{{bar.y}}%"
			stroke-width=".1"
			stroke="gray"
			fill="url(#gradient)">
		</rect>
	</g>
	<rect
		ng-attr-width="{{graph.dims.width}}%"
		ng-attr-height="{{graph.dims.height}}%"
		ng-attr-x="{{graph.dims.padding}}%"
		y="0"
		stroke-width=".1"
		stroke="black"
		fill="none">
	</rect>
</svg>

<!-- <p>Lines Qty: {{graph.lines[0]}}</p> -->
</div>